
h1{
 font-size: 50px;
}
.orange{
    color:rgba(255, 68, 0, 0.856);
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-color: rgba(0, 255, 13, 0.829);
    padding: 10px 40px;
    border-radius: 2px;
}
.top-background{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
}
.devlop{
    background-image: url(images/shape-6.png);
}

.global{
    background-image: url(images/shape-9.png);
    background-repeat: no-repeat;
}
.jio{
    text-align: center;
}
.experince{
    box-shadow: 2px 2px 20px  rgb(128, 128, 128);
    
    margin: 2%;
    width: 27%;
    padding-left: 1%;
}
#color-1{
     background-color: hotpink;
}
#color-2{
    background-color: rgb(155, 204, 21);
}
#color-3{
    background-color: mediumturquoise;
}
.color{
    color: orangered;
}
.font{
    font-size: 17px;
}
.image{
    background-image: url(images/shape-4.png);
}
.border{
    border-left: orangered solid;
}
#Mission{
    text-align: center;
    background-color: black;
}
#orange{
    color: orangered;
}
#white{
    color: whitesmoke;
}